h1 {
  background-color: #e6f16b;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 24pt;
}

/* media queries mobile first */
@media (min-width: 768px) {
  h1 {
    font-size: 36pt;
  }
}