form div {
  padding: 5px;
}
form button {
  margin-top: 10px;
}
form button:disabled {
  background-color: gray;
}
form label {
  font-weight: bold;
}
input, textarea {
  width: 270px;
  height: 30px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
  resize: vertical;
}